@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.page {
  width: calc(100% - 80px);
  position: relative;
  margin-left: 40px;
  padding: 0px;
  min-height: 100vh;
}

.error-page-wrapper {
  height: 100vh;
  position: relative;
  margin-left: 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.error-content {
  position: relative;
  width: 70%;
  height: 80%;
  border: 3px solid #eeeeee;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.1); /* 흰 그림자 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 600px;
  text-align: center;
}

.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
  color: #d84040;
}

.sub-header {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #1d1616;
  max-width: 600px;
  position: relative;
}

.description {
  font-size: 1.2em;
  color: #1d1616;
}

.button-container {
  margin: 25px 0;
  display: inline-flex;
}

.button {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: 2px solid #4e473a; /* 흰색 테두리 */
  color: #4e473a; /* 흰색 텍스트 */
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button:hover {
  background: #eeeeee; /* 흰색 배경 */
  color: #1d1616; /* 검은색 텍스트 */
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
