@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.not-found-page {
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.not-found-container {
  text-align: center;
  padding: 50px;
  border-radius: 12px;
  animation: fadeIn 0.8s ease-in-out;
}

.not-found-title {
  font-size: 4vw;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.not-found-subtitle {
  font-size: 1.6rem;
  color: #b3b3b3;
  /* margin: 10px 0; */
}

.not-found-description {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 20px;
}

.not-found-button {
  display: inline-block;
  background: #000;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.not-found-button:hover {
  background: #444;
  transform: translateY(-3px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
